apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-service
  namespace: java-demo
  labels:
    app: backend-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-service
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-java: "true"
      labels:
        app: backend-service
    spec:
      containers:
      - name: backend-service
        image: saivicky321/java-2-tier-app:backend-v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        env:
        - name: HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: java-demo
  labels:
    app: backend-service
spec:
  selector:
    app: backend-service
  ports:
  - name: http
    port: 8081
    targetPort: 8081
    protocol: TCP
  type: ClusterIP