apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: java-demo
  labels:
    app: frontend-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-java: "true"
      labels:
        app: frontend-service
    spec:
      containers:
      - name: frontend-service
        image: saivicky321/java-2-tier-app:frontend-v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: BACKEND_SERVICE_URL
          value: "http://backend-service.java-demo.svc.cluster.local:8081"
        - name: HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: java-demo
  labels:
    app: frontend-service
spec:
  selector:
    app: frontend-service
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  type: LoadBalancer